<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDw7YyIY-EYJiXUcag-uwxiNnrdgzacO74</string>
	<key>GCM_SENDER_ID</key>
	<string>995457321959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.christianhub</string>
	<key>PROJECT_ID</key>
	<string>christianhub-10333</string>
	<key>STORAGE_BUCKET</key>
	<string>christianhub-10333.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995457321959:ios:19d693f6f9689d2b6e0b42</string>
</dict>
</plist>